:root{
    --ds-primary-light: #fff;
    --ds-primary-dark: #23272A;
    --ds-waves: #f6f6f6;
    --ds-nav: #3161E0;
    --ds-cta-btn: #8EA1E1;
    --ds-footer-txt: #7289DA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";

}

.debug{
    nav{
        background-color: skyblue;
        
    }
    
    .nav-logo{
        background-color: yellow;
        border: 1px dashed black;
    }
    .nav-link{
        background-color: yellow;
        border: 1px dashed black;
    }
    .nav-login{
     background-color: yellow;       
     border: 1px dashed black;
    }
    .hero{
        background-color: rgb(59, 0, 114);
    }
    .hero-content{
        background-color: rgb(255, 133, 235);
    }
    .section-img{
        background-color: blue;
        border: 1px dashed black;
    }
    .section-description{
        background-color: pink;
        border: 1px dashed black;
    }
    .main-section-reverse{
        background-color: rgb(213, 211, 211);
    }
    #technology{
        background-color: rgb(213, 211, 211);;
    }
    .technology-content{
        background-color: green;
        border: 1px dashed black;
    }
    .footer-link{
        background-color: #333;
    }
    
    .footer-contact{
        background-color: palevioletred;
        border: 1px dashed black;
    }
    .footer-column{
        background-color: cyan;
        border: 1px dashed white;
    }
    .footer-button{
        background-color: #333;
        
    }
    .footer-button-container{
        background-color: aquamarine;
    }
    .footer-logo, .footer-btn>button
    {
        background-color: palevioletred;
        border: 1px dashed black;
    }
}
nav{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--ds-nav);
   
}
.nav-content{
    width: 70%;
    margin: auto;
    div{
        padding: 0.5em;
    }
    align-items: center;
    color: var(--ds-primary-light);
    font-size: 0.9rem;
    
}
.nav-btn{
    background-color: var(--ds-primary-light);
    padding: 0.6rem 0.7rem;
    border: none;
    border-radius: 1.2rem;
    font-size: 0.8rem;
}
button {
    padding: 0.6rem 1rem;
    border-radius: 1.2rem;
    border: none;
}

.d-flex{
    display: flex;
}
.nav-logo{
    width: 20%;
}
.nav-login{
    width: 20%;
    text-align: end;
}
.nav-link{ 
    width: 60%;
    ul{
    list-style: none;
    justify-content: center;
    gap: 1rem;
    }
    
}
.hero{
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 3rem 0 5rem 0;
}
.hero-content{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: var(--ds-primary-light);
    
    h1{
        margin-bottom: 1.4rem;
    }
    p{
        font-size: .9rem;
        margin-bottom: 1.2rem;
    }
    button:first-of-type{
        background-color: var(--ds-primary-light);
        margin-right: .5rem;
    }
    button:last-of-type{
        background-color: var(--ds-primary-dark);
        color: var(--ds-primary-light);
        margin-left: .5rem;
    }
}
.main-section{
    padding: 6rem;
}
.section-content{
    width: 60%;
    gap: 1.5rem;
    margin: auto;
}
.section-img{
    width: 60%;
    margin-top: -1.3rem;
    img{
        max-width: 100%;
    }
    
}
.section-description{
    width: 40%;
    h2{
        margin-bottom: 1rem;
    }
    p{
        font-size: .8rem;
        line-height: 1.1rem;

    }
}
.reverse{
    flex-direction: row-reverse;
}
.wave{
    width: 100%;
    background-image: url(../img/wave\ 2.svg);
    height: 5rem;
}
.wave-rotate{
    width: 100%;
    background-image: url(../img/wave\ 2.svg);
    height: 5rem;
    transform: rotate(180deg);
    

}
.main-section-reverse{
    padding: 5rem;
    background-color: var(--ds-waves);
    align-items: center;
}
#technology{
    background-color: var(--ds-waves);
    text-align: center;
    h2{
        margin-bottom: 1rem;
    }
    img{
        max-width: 100%;
        margin: 1rem 0;
    }
}
.technology-content{
    
    margin: auto;
    width: 60%;
    
}
.cta-content{
    
    h3{
        margin-bottom: 1.8rem;
        line-height: .5rem;
    }
    button{
        background-color: var(--ds-cta-btn);
        color: var(--ds-primary-light);
    }
    #stars{
        
        max-width: 100%;
        margin: 0;
    }
}
.footer-link{
    padding: 1rem 2rem 2rem 2rem;
}
.footer-link-container{
    margin: auto;
    width: 60%;
    min-height: 30rem;
   

}
.footer-contact{
    width: 30%;

}
.footer-col-container{
    justify-content: space-between;
   
    width: 70%;
}
.footer-column{
    width: 25%;
}
hr {
    border-color: rgb(213, 211, 211);
}
.footer-button{
    padding: 2rem;
}
.footer-button-container{
    margin: auto;
    justify-content: space-between;
    padding: 1rem 0;
    width: 60%;
}
.footer-btn> button, .footer-logo{
    padding: 0.2rem 0.4rem;
}
